@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
*
{
    font-family: 'Sen', sans-serif;
}

.barre-verticale
{
    margin-top: 1%;
    background-color: #3326AE;
    border-radius:  60px;
    color: white;
}
.barre-verticale1
{
    margin-top: 1%;
    background-color: #3326AE;
    border-radius:  60px;
    color: white;
}
.carre
{
    height:320px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(226, 226, 226);
    border-radius:  60px;
    padding-top: 30px;
}
.information-forage
{
    width: 500px;
    height: 690px;
    background-color: #3326AE;
    border-radius:  60px;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.863);
}
.information-forage p
{
    font-size: 27px;
    padding: 25px;
}
.donnee
{
    margin-top: 10%;
    font-size: 80px;
    color: black;
}
ul 
{
    list-style-type: none;
}
ul li a  
{
    text-decoration: none;
    color: white;
    margin-top: 10%;
}
ul li  
{
    margin-top: 40%;
}
.deconnexion
{
    text-decoration: none;
    color: white;
}
.card-footer
{
    background-color: #3326AE;
    border: #3326AE solid 1px;
     padding-top: 220px;
}


/* notification */

.notification
{
    background-color: #F7F6F9;
    border-radius: 50px;
    height: 750px;
    padding-left: 140px;
    overflow-y: auto;
}
table
{
    width: 100%;
    height: auto;
}
.bouton-notification
{
    background-color: #3326AE;
    color: white;
    width: 100px;
    border-radius: 20px;

}
tr :first-child
{
    font-weight: bold;
}
table tr td strong
{
    font-size: 25px;
    border-bottom: 1px solid black;
}
